<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Categorize and Curate</h1>
  <p>
    You're gonna want to log in.
  </p>
  <p>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id=<%= clientId %>&team_id=<%= teamId %>">
      <img src="https://api.slack.com/img/sign_in_with_slack.png" />
    </a>
  </p>
</body>
</html>
